.container{
    margin-left:35%;
    margin-top:10%;
    background-image:url("http://i.imgur.com/R7zUmdL.jpg");
    width: 35%;
    padding: 30px 0px 20px 35px;
    border-radius: 5px;
    border: 2px  solid red;
}


button{
   border-radius: 4px;
   background-color:blue;
   color:white;
   height:50px;
   padding: 15px;
   margin: 10px;
  
}
button:hover{
   color: red;
   background-color:white;
   
}

.controlpanel{
   margin-top:50px;
   
}
.title{
  font-weight:bold;
  font-size: 1.2em;
  background-image:url("http://imgur.com/vlSU4RH.png");
  color:white;
  text-align:center;
  border-radius:5px;
  border: 2px solid;
}
video{
 border-radius: 10px;
 border: 2px solid red;

}